@import "tailwindcss";

:root {
  --background: #161616;
  --foreground: #fafafa;
  --color-main: #d92101;
  --color-navbar: #2c2c2c;
  --navbar-height: 72px;
  --color-text-muted-light: #b3b3b3;
  --color-text-muted-dark: #222222;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-main: var(--color-main);
  --color-navbar: var(--color-navbar);
  --color-text-muted-light: var(--color-text-muted-light);
  --color-text-muted-dark: var(--color-text-muted-dark);

  --font-sans: var(--font-work-sans);
  --font-heading: var(--font-caveat);
}

@media (prefers-color-scheme: white) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@layer utilities {
  .auto-card {
    @apply rounded-2xl
    w-[340px] 
    h-[525px]
    md:w-[700px] md:h-[400px]
    lg:w-[900px] lg:h-[500px]
    xl:w-[1100px] xl:h-[600px];
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-work-sans), sans-serif;
  /* push content below fixed navbar */
  padding-top: var(--navbar-height);
}

/* Centering container for main content */
.app-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
