@import "tailwindcss";

:root {
  --primary: #161616;
  --secondary: #fafafa;
  --main-primary: #d92101;
  --main-secondary: #2c2c2c;
  --muted-main: #e35f47;
  --muted-primary: #b3b3b3;
  --muted-secondary: #222222;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-syne: var(--font-syne);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-main-primary: var(--main-primary);
  --color-main-secondary: var(--main-secondary);
  --color-muted-primary: var(--muted-primary);
  --color-muted-secondary: var(--muted-secondary);
  --color-muted-main: var(--muted-main);
}

@layer utilities {
  .auto-card {
    @apply rounded-2xl mt-8
    w-[340px] 
    h-[525px]
    md:w-[700px] md:h-[400px]
    lg:w-[900px] lg:h-[500px]
    xl:w-[1100px] xl:h-[600px];
  }
  
  .preserve-3d {
     transform-style: preserve-3d;
   }
   
   .perspective-1000 {
     perspective: 1000px;
   }
   
   .backface-hidden {
     backface-visibility: hidden;
   }
   
   /* Custom Animation */
   @keyframes float {
     0%, 100% {
       transform: translateY(0px);
     }
     50% {
       transform: translateY(-20px);
     }
   }
   
   .animate-float {
     animation: float 3s ease-in-out infinite;
   }
}


body {
  background: var(--primary);
  color: var(--secondary);
  overflow-y: hidden;
}